@import '~bootstrap/scss/bootstrap';

header {
    &.nav_pokedex {
        background: linear-gradient(180deg, #e83030 40%, #c02028 45%, #c02028 55%, #901020 60%);
        border-bottom: 5px solid black;
        // background-image: url(/resources/img/barraSuperiore.png);
        // background-size: contain;
    }
}

main {

    .mainpokedex {
        background-image: url(/resources/img/bg.png);
        background-repeat: repeat;

        .titlepokemon,
        .check_pokemon {
            // background-image: url(/resources/img/nomepokemon.png);
            // background-size: contain;
            // background-repeat: no-repeat;
            border: 5px solid black;
            border-radius: 1rem;
            box-shadow: inset 20px 0 0 0 red, inset -20px 0 0 0 red, inset -26px 0 3px 0 pink, inset 26px 0 3px 0 pink, inset 0 -6px 3px 0 pink, inset 0 6px 3px 0 pink;
            background-color: whitesmoke;

            h2,
            p {
                padding-left: 40px;
                padding-right: 40px;
            }
        }

        .check_pokemon {
            p {
                font-size: 1.25rem;
            }
        }

        .listpokemon {
            ul {
                height: 200px;
                width: 183px;
                overflow-y: auto;
                li {
                    list-style-type: none;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(/resources/img/nomepokemon.png);

                    img{
                        height: 30px;
                    }
                }
            }
        }
    }
}